<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-save-blob" version="0.0.3"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <name>Cordova Plugin lugin SaveBlob</name>
    <description>WebRTC Convert Blob to base64Data save/downlaod</description>
    <author>EMI INDO</author>
    <license>ISC</license>

     <!-- WebRTC: https://webrtc.github.io/samples/ -->

    <js-module name="CordovaSaveBlob" src="www/CordovaSaveBlob.js">
        <clobbers target="cordova.plugin.CordovaSaveBlob" />
    </js-module>
     
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaSaveBlob">
                <param name="android-package" value="emi.indo.cordova.plugin.save.blob.CordovaSaveBlob" />
            </feature>
        </config-file>

        <hook type="before_plugin_install" src="hooks/before_plugin_install.js" />

        <preference name="DOCUMENT_FILE_VERSION" default="1.0.1" />

        <!-- user > selectFiles | selectTargetPath -->
        <framework src="androidx.documentfile:documentfile:$DOCUMENT_FILE_VERSION" />

        <source-file src="src/android/CordovaSaveBlob.java" target-dir="src/emi/indo/cordova/plugin/save/blob" />

    </platform>
</plugin>